# .NET build folders
bin/
obj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
.vscode/

# Rider files
.idea/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Project-specific files
appsettings.Development.json
launchSettings.json