@{
    ViewData["Title"] = "นโยบายความเป็นส่วนตัว";
}
<h1>@ViewData["Title"]</h1>

<p>หน้านี้ใช้เพื่ออธิบายนโยบายความเป็นส่วนตัวของเว็บไซต์</p>

<div class="my-4">
    <h2>การเก็บข้อมูล</h2>
    <p>เว็บไซต์นี้ใช้ Google Tag Manager เพื่อการวิเคราะห์พฤติกรรมการใช้งานเว็บไซต์ โดยข้อมูลที่เก็บจะถูกนำไปใช้เพื่อการพัฒนาบริการให้ดียิ่งขึ้น</p>
</div>

<div class="my-4">
    <h2>การติดตามกิจกรรมผู้ใช้งาน</h2>
    <p>เราติดตามกิจกรรมการใช้งานเว็บไซต์เพื่อนำข้อมูลไปวิเคราะห์และปรับปรุงการให้บริการให้ตรงกับความต้องการของผู้ใช้มากยิ่งขึ้น</p>
</div>

<div class="my-4">
    <button id="privacy-btn" class="btn btn-primary">ยอมรับนโยบาย</button>
</div>
